@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --color-primary: #092c4e;
  --color-secondary: #0660b8;
  --color-detail: #ccc3bc;
}

@font-face {
  font-family: "Avant Garde Book BT";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/Avgardd.ttf") format("woff");
}
body {
  margin: 0px;
  font-family: "Avant Garde Book BT", sans-serif;
}

.custom-font-inter {
  font-family: "Inter", sans-serif;
}

.custom-font-opensans {
  font-family: "Open Sans", sans-serif;
}

.custom-font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.nav-underline {
  position: relative;
}

.nav-underline::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc3bc;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.nav-underline:hover::after {
  transform: scaleX(1);
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-down {
  animation: slide-down 0.3s ease-out;
}

@keyframes slide-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.slide-up {
  animation: slide-up 0.3s ease-out forwards;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 9999s ease-out, color 9999s ease-out;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-thumb {
  background: #0660b8;
}

*::-webkit-scrollbar-thumb:hover {
  background: #0660b8;
}

::selection {
  background: var(--color-detail);
  color: var(--color-secondary);
}

::-moz-selection {
  background: var(--color-detail);
  color: var(--color-secondary);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
  gap: 16px;
}

.marquee-item {
  flex-shrink: 0;
  width: 160px;
  height: 80px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
